html {
height: 100%;
width: 100%;
}

body {
height: 100%;
width: 100%;
margin: 0px;
padding: 0px;
}

#header {
background-color:  #5AB9EA;
top: 0px;
width: 100%;
height: 10%;
}

#nav{
height: 100%;
}

#logo {
width: 7%;
height: 100%;
float: left;
}

#logoname {
width: 55%;
margin-top: 2%;
margin-left: 5%;
}

#home {
width: 17%;
height: 100%;
float: left;
}

@media (max-width: 750px) {
#home {
font-size: 50%;
}
}

#home:hover {
background-color: paleturquoise;
color: white;
}

#information{
width: 17%;
height: 100%;
float: left;
}

@media (max-width: 750px) {
#information {
font-size: 50%;
}
}

#information:hover {
background-color: paleturquoise;
color: white;
}

#abouttop {
width: 17%;
height: 100%;
float: left;
}

@media (max-width: 750px) {
#abouttop {
font-size: 50%;
}
}

#abouttop:hover {
background-color: paleturquoise;
color: white;
}

#contact {
width: 17%;
height: 100%;
float: left;
}

@media (max-width: 750px) {
#contact {
font-size: 50%;
}
}

#contact:hover {
background-color: paleturquoise;
color: white;
}

#botton {
text-align: center;
font-size: 139%;
margin-top: 10%;
vertical-align: center;
font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 /* body */
#body {
width: 100%;
padding-bottom:8.19%;
background-image: url("media/background about.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#middle {
width: 100%;
overflow: hidden;
}

#title {
text-align: center;
margin-top: 2%;
font-size: 300%;
text-shadow: 4px 4px #8860D0;
color:white 
}

.about {
width: 41%;
padding-bottom:20px;
margin-left: 5%;
float: left;
background-color: #5AB9EA;
border-radius: 30px 30px 30px 30px;
}

.about-meaghan{
margin-right: 5%;
}

@media (max-width:900px){
.about{
float: none;
width:auto;
margin:0 5%;
margin-left: 5%;
}
}

#table{
margin-left: 5%;
margin-right: 5%;
margin-top: 2%;
vertical-align: center;
font-size: 150%;
height: 94%;
width: 90%;
border-collapse: collapse; border: 1px solid rgb(0, 0, 0); 
}

#tabletext1 {
text-align: center;
border: 3px solid #000000;
font-family: fantasy;
font-size: 200%;
}

#tabletext {
border: 3px solid #000000;  
text-align: left;
}

#sum {
border: 3px solid #000000;  
text-align: left;
}

#sannah { 
max-height: 90%;
max-width: 90%;
margin-left: 4%;
margin-top: 3%;
}

#meaghan {
max-height: 90%;
max-width: 90%;
margin-left: 4%;
margin-top:3%;
}

#bottom {
height: 10%;
width: 100%;
background-color:  #5AB9EA;
}

tr {
height: 100%;
width: 100%;
}

.lefttable {
height: 20%;
width: 80%;
}

.righttable {
height: 20%;
width: 20%;
}