html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: fixed; 
}

#header {
background-color:  #5AB9EA;
top: 0px;
width: 100%;
height: 10%;
}

#logo {
width: 7%;
height: 100%;
float: left;
}

#logoname {
width: 55%;
margin-top: 2%;
margin-left: 5%;
}

#home {
width: 17%;
height: 100%;
float: left;
}

#home:hover {
background-color: paleturquoise;
color: white;
}

#information{
width: 17%;
height: 100%;
float: left;
}

#information:hover {
background-color: paleturquoise;
color: white;
}

#abouttop {
width: 17%;
height: 100%;
float: left;
}

#abouttop:hover {
background-color: paleturquoise;
color: white;
}

#contact {
width: 17%;
height: 100%;
float: left;
}

#contact:hover {
background-color: paleturquoise;
color: white;
}

#botton {
text-align: center;
font-size: 139%;
margin-top: 10%;
vertical-align: center;
font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 /* body */
#body {
height: 80%;
width: 100%;
background-image: url("media/background about.jpg");
 }

#middle {
height: 100%;
width: 100%;
float: left;
background-image: url("media/background about.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#title {
text-align: center;
margin-top: 2%;
font-size: 300%;
color: rgb(255, 255, 255);
text-shadow: 4px 4px rgb(58, 53, 129);
}

#about {
width: 43%;
height: 58%;
margin-left: 5%;
float: left;
background-color: #5AB9EA;
border-radius: 30px 30px 30px 30px;
}

#table{
margin-left: 5%;
margin-right: 5%;
margin-top: 2%;
vertical-align: center;
font-size: 150%;
height: 94%;
width: 90%;
border-collapse: collapse; border: 1px solid rgb(0, 0, 0); 
}

#tabletext1 {
text-align: center;
border: 3px solid #000000;
font-family:  fantasy;
font-size: 200%;
}

#tabletext {
border: 3px solid #000000;  
text-align: left;
 }

#sum {
border: 3px solid #000000;  
text-align: left;
}

#sannah { 
max-height: 90%;
max-width: 90%;
margin-left: 4%;
margin-top: 3%;
}

#meaghan {
max-height: 90%;
max-width: 90%;
margin-left: 4%;
margin-top:3%;
}

#about2 {
width: 43%;
height: 58%;
float: right;
margin-right: 5%;
background-color: #5AB9EA;
border-radius: 30px 30px 30px 30px;
}

#bottom {
height: 10%;
width: 100%;
background-color:  #5AB9EA;

 }
tr {
  height: 100%;
  width: 100%;
}

.lefttable {
  height: 20%;
  width: 80%;
}

.righttable {
  height: 20%;
  width: 20%;
}