html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: fixed; 
}

#header {
background-color:  #5AB9EA;
top: 0px;
width: 100%;
height: 10%;
}

#logo {
width: 7%;
height: 100%;
float: left;
}

#logoname {
width: 55%;
margin-top: 2%;
margin-left: 5%;
}

#home {
width: 17%;
height: 100%;
float: left;
}

#home:hover {
background-color: paleturquoise;
color: white;
}

#information{
width: 17%;
height: 100%;
float: left;
}

#information:hover {
background-color: paleturquoise;
color: white;
}

#abouttop {
width: 17%;
height: 100%;
float: left;
}

#abouttop:hover {
background-color: paleturquoise;
color: white;
}

#contact {
width: 17%;
height: 100%;
float: left;
}

#contact:hover {
background-color: paleturquoise;
color: white;
}

#botton {
text-align: center;
font-size: 139%;
margin-top: 10%;
vertical-align: center;
font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 /* body */
#body {
height: 80%;
width: 100%;
background-image: url("background about.jpg");
 }

#middle {
height: 100%;
width: 100%;
float: left;
background-image: url("background about.jpg");
}

#title {
text-align: center;
margin-top: 2%;
font-size: 300%;
text-shadow: 3px 3px #8860D0;
}

#about {
width: 40%;
height: 63%;
margin-left: 5%;
float: left;
background-color: #5AB9EA;
border-radius: 30px 30px 30px 30px;
}

#table{
margin-left: 5%;
margin-right: 5%;
margin-bottom: 5%;
margin-top: 2%;
font-size: 150%;
border-collapse: collapse; border: 1px solid rgb(0, 0, 0); 
}

#tabletext1 {
text-align: center;
width: 100%;
border: 3px solid #000000;
font-family:  fantasy;
font-size: 200%;
}

#tabletext {
border: 3px solid #000000; 
width: 100%; 
text-align: left;

 }

#sannah { 
width: 90%;
margin-left: 4%;
margin-top: 3%;
}

#meaghan {
width: 90%;
margin-left: 4%;
margin-top: 3%;
}

#about2 {
width: 40%;
height: 63%;
float: right;
margin-right: 5%;
background-color: #5AB9EA;
border-radius: 30px 30px 30px 30px;
}

#bottom {
height: 10%;
width: 100%;
background-color:  #5AB9EA;

 }