html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: fixed; 
}

#header {
background-color:  #5AB9EA;
top: 0px;
width: 100%;
height: 10%;
}

#logo {
width: 7%;
height: 100%;
float: left;
}

#logoname {
width: 55%;
margin-top: 2%;
margin-left: 5%;
}

#home {
width: 17%;
height: 100%;
float: left;
}

#home:hover {
background-color: paleturquoise;
color: white;
}

#information{
width: 17%;
height: 100%;
float: left;
}

#information:hover {
background-color: paleturquoise;
color: white;
}

#about {
width: 17%;
height: 100%;
float: left;
}

#about:hover {
background-color: paleturquoise;
color: white;
}

#contact {
width: 17%;
height: 100%;
float: left;
}

#contact:hover {
background-color: paleturquoise;
color: white;
}

#botton {
text-align: center;
font-size: 139%;
margin-top: 10%;
vertical-align: center;
font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 /* body */
#body {
height: 80%;
width: 100%;
background-image: url("background contact.jpg");
 }

#leftside {
height: 100%;
width: 20%;
background-image: url("background contact.jpg");
float: left;
}

#middle {
height: 100%;
width: 60%;
float: left;
background-color: rgb(38, 89, 207);
}

#title {
text-align: center;
margin-top: 2%;
font-size: 300%;
text-shadow: 4px 4px #8860D0;
}

#subtitle {
text-align: center;
margin-top: 0%;
font-size: 100%;
color: paleturquoise;
}

input, select, textarea {
width: 95%; 
padding: 01%; 
border: 4px solid #8860D0;
border-radius: 4px; 
box-sizing: border-box; 
margin-top: 1%; 
margin-bottom: 1%; 
margin-left: 2%;
resize: vertical 
}

#description {
margin-left: 2%;
}

#rightside {
height: 100%;
width: 20%;
float: left;
background-image: url("background contact.jpg");
}

#bottom {
height: 10%;
width: 100%;
background-color:  #5AB9EA;
 }