html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#header {
background-color:  #5AB9EA;
top: 0px;
width: 100%;
height: 10%;
}

#nav {
height: 100%;
}

#logo {
width: 7%;
height: 100%;
float: left;
}

#logoname {
width: 55%;
margin-top: 2%;
margin-left: 5%;
}

#home {
width: 17%;
height: 100%;
float: left;
}

#home:hover {
background-color: paleturquoise;
color: white;
}

@media (max-width: 750px) {
#home {
font-size: 50%;
}
}
#informationtop{
width: 17%;
height: 100%;
float: left;
}

@media (max-width: 750px) {
#informationtop {
font-size: 50%;
}
}

#informationtop:hover {
background-color: paleturquoise;
color: white;
}

#about {
width: 17%;
height: 100%;
float: left;
}

@media (max-width: 750px) {
#about {
font-size: 50%;
}
}

#about:hover {
background-color: paleturquoise;
color: white;
}

#contact {
width: 17%;
height: 100%;
float: left;
}

#contact:hover {
background-color: paleturquoise;
color: white;
}

@media (max-width: 750px) {
#contact {
font-size: 50%;
}
}

#botton {
text-align: center;
font-size: 139%;
margin-top: 10%;
vertical-align: center;
font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 /* body */
#bodymain {
height: 90%;
width: 100%;
background-image: url("media/background information.jfif");
 }

#middle {
height: 350%;
width: 100%;
float: left;
background-image: url("media/background information.jfif");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#information {
width: 80%;
height: 80%;
margin-left: 10%;
margin-right: 10%;
background-color: rgb(66, 150, 192);
border-radius: 30px 30px 30px 30px;
}

#title {
text-align: center;
margin-top: 2%;
font-size: 300%;
text-shadow: 4px 4px #8860D0;
color:white 
}

#subtitle {
text-align: center;
margin-top: 01%;
font-size: 100%;
color: paleturquoise;
}

#headinformationtext {
font-size: 300%;
margin-left: 30%;
text-shadow: #8860D0 4px 4px;
color:white 
}

#introinformationtext {
font-size: 140%;
font-family: Arial, Helvetica, sans-serif;
margin-left: 3%;
margin-right: 3%;
color: #000000
}

#subheadinformationtext {
font-size: 190%;
margin-left: 3%;
text-shadow: #8860D0 3px 2px;
color:white 
}

#informationtext {
font-size: 120%;
font-family: Arial, Helvetica, sans-serif;
margin-left: 3%;
margin-right: 3%;
}

#versus {
font-size: 120%;
font-family: Arial, Helvetica, sans-serif;
margin-left: 3%;
margin-right: 3%;
}

#video {
margin-left: auto;
margin-right: auto;
display: block
}

#bottom {
width: 100%;
height:2%;
background-image: url("media/background information.jfif");
 }