html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#header {
background-color:  #5AB9EA;
top: 0px;
width: 100%;
height: 10%;
}

#logo {
width: 7%;
height: 100%;
float: left;
}

#logoname {
width: 55%;
margin-top: 2%;
margin-left: 5%;
}

#home {
width: 17%;
height: 100%;
float: left;
}

#home:hover {
background-color: paleturquoise;
color: white;
}

#informationtop{
width: 17%;
height: 100%;
float: left;
}

#informationtop:hover {
background-color: paleturquoise;
color: white;
}

#about {
width: 17%;
height: 100%;
float: left;
}

#about:hover {
background-color: paleturquoise;
color: white;
}

#contact {
width: 17%;
height: 100%;
float: left;
}

#contact:hover {
background-color: paleturquoise;
color: white;
}

#botton {
text-align: center;
font-size: 139%;
margin-top: 10%;
vertical-align: center;
font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 /* body */
#bodymain {
height: 90%;
width: 100%;
background-image: url("background information.jfif");
 }

#middle {
height: 290%;
width: 100%;
float: left;
background-image: url("background information.jfif");
}

#information {
width: 80%;
height: 80%;
margin-left: 10%;
margin-right: 10%;
background-color: rgb(20, 118, 167);
border-radius: 30px 30px 30px 30px;
}

#title {
text-align: center;
margin-top: 2%;
font-size: 300%;
text-shadow: 4px 4px rgb(111, 197, 193);
}

#subtitle {
text-align: center;
margin-top: 01%;
font-size: 100%;
color: paleturquoise;
}

#headinformationtext {
font-size: 300%;
margin-left: 20%;
text-shadow: #8860D0 4px 4px;
}

#introinformationtext {
font-size: 140%;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin-left: 3%;
margin-right: 3%;
color: #000000
}

#subheadinformationtext {
font-size: 190%;
margin-left: 3%;
text-shadow: #8860D0 4px 4px;
}

#informationtext {
font-size: 120%;
font-family: Arial, Helvetica, sans-serif;
margin-left: 3%;
margin-right: 3%;
}

#versus {
font-size: 120%;
font-family: Arial, Helvetica, sans-serif;
margin-left: 3%;
margin-right: 3%;
}

#video {
margin-left: auto;
margin-right: auto;
display: block
}

#bottom {
width: 100%;
height:2%;
background-image: url("background information.jfif");
 }