html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: fixed; 
}

#header {
background-color:  #5AB9EA;
top: 0px;
width: 100%;
height: 10%;
}

#logo {
width: 7%;
height: 100%;
float: left;
}

#home {
width: 17%;
height: 100%;
float: left;
}

#home:hover {
background-color: #8860D0;
color: white;
}

#information{
width: 17%;
height: 100%;
float: left;
}

#information:hover {
background-color: #8860D0;
color: white;
}

#about {
width: 17%;
height: 100%;
float: left;
}

#about:hover {
background-color: #8860D0;
color: white;
}

#contact {
width: 17%;
height: 100%;
float: left;
}

#contact:hover {
background-color: #8860D0;
color: white;
}

#botton {
text-align: center;
font-size: 139%;
margin-top: 10%;
vertical-align: center;
}

 /* body */
#body {
height: 80%;
width: 100%;
background-color: #5680E3;
 }

#leftside {
border-radius: 40px 40px 40px 40px;
height: 100%;
width: 20%;
background-color: #8860D0;
float: left;
}

#lefttext {
font-size: 150%;
text-align: left;
margin-left: 3%;
margin-right: 3%;
}

#middle {
height: 100%;
width: 60%;
float: left;
background-color: #5680E3;
}

#title {
text-align: center;
margin-top: 15%;
font-size: 500%;
text-shadow: 4px 4px #8860D0;
}

#subtitle {
text-align: center;
margin-top: 3%;
font-size: 200%;
color: paleturquoise;
}

#rightside {
height: 100%;
width: 20%;
background-color: #8860D0;
float: left;
border-radius: 40px 40px 40px 40px;
}

#righttext {
font-size: 150%;
margin-left: 3%;
margin-right: 3%;
}

#bottom {
height: 10%;
width: 100%;
background-color:  #5AB9EA;

 }